* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Monserrat', 'Open Sans', sans-serif;
    background: url("images/LibraryHome-DarkAcademia.png") no-repeat, #C9D8D7;
    background-blend-mode: color-dodge;
    background: cover;
    background-attachment: fixed;
    background-position: center center;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

/*FOR ALL SCREENS*/
.collegeTitle p {
    font-size: 0.9em;
    color: #077A86;
    text-align: center;
    padding-top: 60px;
}


h1 {
    font-weight: 900;
    color: #072B31;
    font-size: 60px;
    padding: 20px 0 0px 0;
    text-align: center;
}



/*MAIN SCREEN*/
#user {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    align-items: center;
    margin-top: 25%;
}

.button1 {
    background-color: white;
    color: #077A86;
    padding: 5px 10px;
    border-radius: 91px;
    text-decoration: none;
    border-radius: 91px;
    text-align: center;
    width: 250px;
}

.button1--dark:link {
    background-color: #ffffff;
    color: #077A86
}

.button2 {
    background-color: #077A86;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 91px;
    text-align: center;
    width: 250px;
}

.button2--dark:link {
    background-color: #ffffff;
    color: #077A86
}

.searchContainer {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 20%;
    padding-bottom: 5%;
}

input[type="text"] {
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    width: 300px;
    position: absolute;
    color: grey;
}

.searchContainer img {
    position: absolute;
    transform: translate(482%, 34%)
}

.linksSearch {
    display: flex;
    justify-content: center;
    color: #077A86;
    border-radius: 91px;
    padding-top: 10%;
    gap: 10px;

}



/*FOR "BACK GREY BUTTON ONLY*/
.backButton {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button3 {
    background-color: #F2EDE9;
    color: #077A86;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 91px;
    width: 250px;
    text-align: center;
    margin-top: 40%;
}

.button3--dark:link {
    background-color: #ffffff;
    color: #077A86
}



/*NUTRITION SCREEN*/
#section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    vertical-align: middle;
    margin-top: 30%;

}


/*eBOOK SCREEN*/
.ebooksTitle {
    padding-top: 10px;
    padding-left: 20px;
    color: #072B31;
}


.ebooksTitle p {
    font-size: 0.9em;
    color: #077A86;
}

h1 {
    font-weight: 900;
    color: #072B31;
    font-size: 60px;
    padding: 20px 0 0px 0;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-flow: column;
    row-gap: 30px;
    align-items: center;
    margin-top: 10%;
}

h3 {
    margin-left: -65px;
    color: #072B31;
}

#beigeWhiteCircle1>img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 65px;
    position: absolute;
    transform: translate(-161%, -49%);
    z-index: -1;
}

/*CHINESE MEDICINE*/
.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: 50px;
}


.imagePosition {
    position: absolute;
    transform: translate(-17%, -15%);
    background-color: #077A86;
    border: 1px solid white;
    border-radius: 50px;
    padding: 4px;
}


.button4 {
    display: inline-block;
    background-color: #077A86;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 91px;
    text-align: center;
    justify-content: center;
    width: 250px;
}

.button4--dark:link {
    background-color: #ffffff;
    color: #077A86
}

.contactsContainer {
    background-color: white;
    border-radius: 30px;
    box-shadow: 7px 7px #077A86;
    display: flex;
    flex-flow: wrap;
    margin: 60px 50px 20px 50px;
    color: #072B31;
    padding: 40px 30px 30px 40px;
    row-gap: 20px;


    h3 {
        padding-left: 63px;
        margin-bottom: 5px;
        position: relative;
        font-size: 2em;
    }

    a {
        align-items: center;
        margin: auto;
    }

}

#ligtBeigeCircle>img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 73px;
    position: absolute;
    transform: translate(-51%, -27%);
}


.contactButton {
    background-color: #0AA3B3;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 91px;
    text-align: center;
    width: 225px;
    border-style: none;
}

.contactButton--dark:link {
    background-color: #ffffff;
    color: #077A86
}

.styleButton {
    font-size: 14px;
    margin: auto;
    border-width: none;
}


/*EBOOKS SCREEN*/
.ebookmainContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.ebookmainContainer h3 {
    margin: auto;
    padding-bottom: 10px;
}

.ebookmainContainer p {
    padding-top: 10px;
}

.textContainer {
    position: relative;
    margin: 50px 50px 20px 50px;
    color: #072B31;
}

.mainContainer {
    flex-flow: column;
    row-gap: 30px;
    align-items: center;
    margin-top: 10%;
}

#beigeWhiteCircle2>img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 65px;
    position: absolute;
    transform: translate(-68%, -49%);
    z-index: -1;
}


@media screen and (min-width: 900px) {
    body {
        background: url("imageS/Bottles.png"), no-repeat 0 0;
    }

    .wrapper {
        width: 90%;
        max-width: 1200px;
        margin: auto;

    }

    .collegeTitle p {
        font-size: 2em;
        padding-top: 100px;

    }

    .collegeTitle h1 {
        font-size: 97PX;
    }


    #user {
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-top: 10%;

    }





}

/*

    
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    
    }
    
    /*LIBRARY MAIN*/